{
	"extends": [
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"root": true,
	"rules": {
		"camelcase": "error",
		"capitalized-comments": "error",
		"comma-dangle": "error",
		"eol-last": "error",
		"func-call-spacing": "error",
		"getter-return": "error",
		"indent": [
			"error",
			"tab"
		],
		"jsx-quotes": "error",
		"new-parens": "error",
		"no-alert": "error",
		"no-console": "error",
		"no-const-assign": "error",
		"no-debugger": "error",
		"no-delete-var": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-duplicate-imports": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-extra-parens": "warn",
		"no-implied-eval": "error",
		"no-invalid-regexp": "error",
		"no-invalid-this": "error",
		"no-irregular-whitespace": "error",
		"no-lonely-if": "error",
		"no-multi-spaces": "error",
		"no-multi-str": "error",
		"no-multiple-empty-lines": "error",
		"no-param-reassign": "error",
		"no-redeclare": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-trailing-spaces": "error",
		"no-underscore-dangle": "error",
		"no-unexpected-multiline": "error",
		"no-unneeded-ternary": "error",
		"no-unreachable": "error",
		"no-unused-expressions": "error",
		"no-unused-vars": "error",
		"no-var": "error",
		"no-with": "error",
		"object-curly-newline": "error",
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"prefer-promise-reject-errors": "error",
		"prefer-template": "error",
		"semi-spacing": "error",
		"sort-imports": "error",
		"sort-keys": "error",
		"sort-vars": "error",
		"spaced-comment": "error",
		"strict": "error",
		"use-isnan": "error",
		"vars-on-top": "error"
	}
}